<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()

    <br />
    <footer>
        <div>Copyright 2018</div>
    </footer>
</body>
</html>
